@model thgs.site.Models.UsersViewModel

@{
    ViewData["Title"] = "Index";

    // индекс записи в таблице
    var index = (Model.PagePaginationModel.PageNumber - 1) * 1000 + 1;
}

<p>
    @if (Model.PagePaginationModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PagePaginationModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PagePaginationModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PagePaginationModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Пол</th>
            <th>Расса</th>
            <th>Кол-во игр</th>
            <th>Побед/Поражений</th>
        </tr>
    </thead>
    <tbody>
          
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @index @{ index++;}
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Race)
                </td>
                <td>
                    @Html.DisplayFor(model => item.GameCount)
                </td>
                <td>
                    @Html.DisplayFor(model => item.WinRate)
                </td>
            </tr>
        }
    </tbody>
</table>
